<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"minHeight":566,"minHeightUnit":"px","contentPosition":"bottom left","isDark":false,"className":"trail\u002d\u002dcover m0"} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-left trail--cover m0"
    style="min-height:566px"><span aria-hidden="true"
        class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
    <div class="wp-block-cover__inner-container">
        <!-- wp:group {"style":{"spacing":{"blockGap":"rem"}},"textColor":"background","className":"trail\u002d\u002dcover\u002d\u002dinfo blue-bg","layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap"}} -->
        <div class="wp-block-group trail--cover--info blue-bg has-background-color has-text-color">
            <!-- wp:post-title {"style":{"typography":{"textTransform":"uppercase"},"spacing":{"margin":{"left":"2.5rem","right":"1.5rem"}}}} /-->
        </div>
        <!-- /wp:group -->
    </div>
</div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","layout":{"contentSize":"1200px"}} -->
<main class="wp-block-group">
    
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"contentSize":"1200px"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group -->

<!-- wp:block {"ref":330} /-->

<!-- wp:template-part {"slug":"footer","theme":"MCMBA"} /-->