<!-- wp:template-part {"slug":"header","theme":"MCMBA"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"minHeight":543,"minHeightUnit":"px","contentPosition":"bottom left","isDark":false,"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div
  class="wp-block-cover is-light has-custom-content-position is-position-bottom-left"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    min-height: 543px;
  "
>
  <span
    aria-hidden="true"
    class="wp-block-cover__background has-background-dim-0 has-background-dim"
  ></span>
  <div class="wp-block-cover__inner-container">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"15px","right":"15px","bottom":"15px","left":"2rem"}}},"textColor":"background","className":"trail\u002d\u002dcover\u002d\u002dinfo blue-bg","layout":{"inherit":false,"contentSize":""}} -->
    <div
      class="wp-block-group trail--cover--info blue-bg has-background-color has-text-color"
      style="
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 2rem;
      "
    >
      <!-- wp:post-title {"style":{"typography":{"textTransform":"uppercase"}},"textColor":"background"} /-->
    </div>
    <!-- /wp:group -->
  </div>
</div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","layout":{"contentSize":"1200px"}} -->
<main class="wp-block-group">
  <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"MCMBA"} /-->
