<!-- wp:template-part {"slug":"header","theme":"MCMBA"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"minHeight":566,"minHeightUnit":"px","contentPosition":"bottom left","isDark":false,"className":"trail\u002d\u002dcover m0"} -->
<div
  class="wp-block-cover is-light has-custom-content-position is-position-bottom-left trail--cover m0"
  style="min-height: 566px"
>
  <span
    aria-hidden="true"
    class="wp-block-cover__background has-background-dim-0 has-background-dim"
  ></span>
  <div class="wp-block-cover__inner-container">
    <!-- wp:group {"style":{"spacing":{"blockGap":"rem"}},"textColor":"background","className":"trail\u002d\u002dcover\u002d\u002dinfo blue-bg","layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap"}} -->
    <div
      class="wp-block-group trail--cover--info blue-bg has-background-color has-text-color"
    >
      <!-- wp:post-title {"style":{"typography":{"textTransform":"uppercase"},"spacing":{"margin":{"left":"2.5rem","right":"1.5rem"}}}} /-->
    </div>
    <!-- /wp:group -->
  </div>
</div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","layout":{"contentSize":"1200px"}} -->
<main class="wp-block-group">
  <!-- wp:html -->
  <!-- TRAILFORKS WIDGET START -->
  <div
    class="TrailforksWidgetTrail"
    data-w="100%"
    data-h="600px"
    data-trailid="[acf field='trail_forks']"
    data-activitytype="1"
    data-map="1"
    data-elevation="1"
    data-photos="0"
    data-title="1"
    data-info="1"
    data-trail_opacity="25"
    data-v="2"
  ></div>
  <a href="https://www.trailforks.com/">Trailforks.com</a>
  <!-- /wp:html -->

  <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"contentSize":"1200px"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group -->

<!-- wp:block {"ref":330} /-->

<!-- wp:template-part {"slug":"footer","theme":"MCMBA"} /-->
