<!-- wp:group {"tagName":"header","layout":{"inherit":true}} -->
<header class="wp-block-group"><!-- wp:site-title /-->

<!-- wp:site-tagline /--></header>
<!-- /wp:group -->

<!-- wp:separator {"opacity":"css"} -->
<hr class="wp-block-separator has-css-opacity"/>
<!-- /wp:separator -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-title /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"contentSize":"1200px"}} -->
<div class="wp-block-group"><!-- wp:html -->
<div class="TrailforksRegionInfo" data-w="100%" data-h="150px" data-trailid="[acf field='trail_forks']" data-counts="1" data-stats="1" data-title="1" data-activitytype="1"></div>
<!-- /wp:html -->

<!-- wp:html -->
<!-- TRAILFORKS WIDGET START -->
<div class="TrailforksWidgetMap alignwide" data-w="100%" data-h="400px" data-trailid="[acf field='trail_forks']" data-activitytype="1" data-maptype="trailforks" data-trailstyle="difficulty" data-controls="1" data-list="0" data-dml="1" data-layers="labels,poi,polygon,directory,region" data-z="" data-lat="" data-lon="" data-hideunsanctioned="0"></div>
<!-- /wp:html -->

<!-- wp:html -->
<!-- TRAILFORKS WIDGET START -->
<div class="TrailforksTrailList" data-w="600px" data-h="600px" data-trailid="[acf field='trail_forks']" data-displaytype="table" data-activitytype="1" data-season="0" data-unsanctioned="0" data-query=""></div>
powered by <a href="https://www.trailforks.com/">Trailforks.com</a>
<!-- /wp:html -->

<!-- wp:html -->
<!-- TRAIL CONDITIONS WIDGET START -->
<ul class="trail-status-block">
<!-- SETTLERS -->
<li class="TrailforksWidgetRegionStatus" data-w="400px" data-h="20px" data-rid="36384" data-activitytype="1" data-status="1" data-st="1" data-ct="0" data-date="1">Section 21 Trails at Settlers Park</li>
<!-- ISLAND LAKE -->
<li class="TrailforksWidgetRegionStatus" data-w="400px" data-h="20px" data-rid="4028" data-activitytype="1" data-status="1" data-st="1" data-ct="0" data-date="1"></li>
<!-- HICKORY GLEN -->
<li class="TrailforksWidgetRegionStatus" data-w="400px" data-h="20px" data-rid="11436" data-activitytype="1" data-status="1" data-st="1" data-ct="0" data-date="1"></li></ul>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:html -->
<script type="text/javascript">
var script = document.createElement("script"); script.setAttribute("src", "https://es.pinkbike.org/ttl-86400/sprt/j/trailforks/widget.js"); document.getElementsByTagName("head")[0].appendChild(script); var widgetCheck = false;
</script>
<!-- TRAILFORKS WIDGET END -->
<!-- /wp:html -->

<!-- wp:template-part {"slug":"footer"} /-->